# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist.do
node_modules
rabbitmq_data
postgres-data

# Environment (contains sensitive data)
*.env

# Misc
.eslintrc.js
.prettierrc
README.md